<h2><%= @player_one_name %> vs <%= @player_two_name %></h2>

<p><%= @player_two_name %>: <%= @player_two_hp %>hp</p>

<form action="/attack" method="post">
    <input type="submit" name="attack" value="Attack!" />
</form>

<% if @attacked %>
  <p><%= @player_one_name %> attacked <%= @player_two_name %>!</p>
<% end %>
