<h1><%= @game.player_one.name %> vs <%=@game.player_two.name %></h1>

<h2><%= @game.current_player.name %>'s Turn</h2>

<p><%= @game.player_one.name %>: <%= @game.player_one.hp %>hp</p>
<p><%= @game.player_two.name %>: <%= @game.player_two.hp %>hp</p>

<% unless @game.attacker.just_attacked? %>
  <form action="/attack" method="post">
      <input type="submit" value="Attack!" />
  </form>
<% end %>

<% if @game.attacker.just_attacked? %>
  <p><%= @game.current_player.name %> attacked <%= @game.current_target.name %>!</p>
  <form action="/switch" method="post">
      <input type="submit" value="Switch Player" />
  </form>
<% end %>
